###### Requirements without Version Specifiers ######`
networkx
pydot
numpy
ipykernel
pandas
matplotlib
seaborn
tqdm
memory_profiler
scipy

###### Requirements with Version Specifiers ######`

